body {
    background-color: #F8F9FA;
    color: #333;
    font-size: 15px;
    line-height: 1.6;
}

*,
*:before,
*:after {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Intro */
.intro {
    width: 100%;
    height: 100vh;
}


/* Header */
.header {
    width: 100%;
    padding-top: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 48px;
    font-weight: 700;
    color: #3369E7;
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 16px;
    color: #495057;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: #333;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav__link:hover {
    color: #3369E7;
    font-weight: 700;
}

.nav__link:hover:after {
    opacity: 1;
}